html {
	background-color: #000020;
	color: black;
	font-family: 'Georgia';
}

#page {
	width: 60%;
	margin: auto;
}

h1 {
	text-align: center;
	font-family: 'Enriqueta', serif;
}

nav ul {
  list-style-type: none;
  margin-bottom: 15px;
  padding-right: 10px;
  overflow: hidden;
  border: 1px solid black;
  background-color: #000020; 
  width: auto;
  position: static;
}

nav li {
  float: right;
  border-right: 1px solid black;
}

nav li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
  font-style: italic;
}

nav li a:hover:not(.active) {
  background-color: black;
}

#page {
	width: 60%;
	margin: auto;
	background-color: white;
}

.problem {
	width: auto;
	position: relative;
	padding: 15px;
	margin-bottom: 15px;
}

.statistics {
	width: auto;
	position: relative;
	padding: 15px;
	margin-bottom: 15px;
}

.statistics img{
	max-width: 50%;
}

.why {
	width: auto;
	position: relative;
	padding: 15px;
	margin-bottom: 15px;
}


